@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "./assets/styles/variables";

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
  color: $font-color;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 16px;
  background-color: $bg-color;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
