// Colors
$font-color: #1c1c2a;
$main-color: #2c0083;
$bg-color: #2e006a1e;
$second-color: #278efc;
$error-color: #a70000;
$ligth-error-color: #e3d0d08e;
$warning-color: #e67b00;
$success-color: #008600;
$light-success-color: #d0d6d056;
$gray-color: #a8a8a8;

// Sizes margin padding
$mpsize-2xs: 0.2rem;
$mpsize-xs: 0.5rem;
$mpsize-s: 0.85rem;
$mpsize: 1rem;
$mpsize-l: 1.5rem;
$mpsize-xl: 3rem;
$mpsize-2xl: 5rem;

// Box Shadows
$shadow1: 0 0 10px rgba(0, 0, 0, 0.6);

// Fonts
$font-size-s: 0.8rem;
$font-size: 1rem;
$font-size-l: 1.5rem;
$font-size-xl: 2rem;
$font-size-2xl: 3rem;
